$font-family: "Microsoft Yahei", "微软雅黑";

// 移动、家庭、政企、新业务
%title-font {
  font-family: $font-family;
  font-size: 42px;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 14px;
  height: 88px;
  line-height: 88px;
  margin: 0;
  text-align: center;
}

// 用户数、质量指标
%sub-title-font {
  font-family: $font-family;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  height: 55px;
  line-height: 55px;
  width: 260px;
  text-align: center;
  letter-spacing: 14px;
  display: inline-block;
  text-decoration: none;
  @media screen and (min-width: 5760px){
    height: 48px;
    line-height: 48px;
    width: 236px;
  }
}

// 指标字体，eg：开户用户数、注册用户数
%indi-font {
  font-family: $font-family;
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
}

// 轮播圆圈 eg: @include loop-circle(true)
@mixin loop-circle($boolean: true) {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: -2px 4px 8px rgba(7, 17, 27, 0.8);
  @if $boolean {
    background-color: #33DDFF;
  } @else {
    background-color: rgba(51, 221, 255, 0.4);
  }
}
