@font-face {
  font-family: 'HanYiYaKuHei';
  src: url('../../../../../assets/fonts/汉仪雅酷黑W.ttf');
}
@font-face {
  font-family: 'PixelLCD';
  src: url('../../../../../assets/fonts/PixelLCD-7.ttf');
}

.a1 {
  position: absolute;
  width: 4800px;
  height: 1200px;
  margin: 0;
  padding: 0;
  background-image: url('../img/bg.png');
}
