.a1_v11{
  width: 1394px;
  height: 1200px;
  // background: yellow;
  position: absolute;
  left: 0;
  top: 0;
  .left-part{
    width: 679px;
    height: 1033px;
    // background: yellow;
    position: absolute;
    left: 80px;
    top: 117px;
    .title1{
      width: 317px;
      height: 61px;
      position: absolute;
      left: 56px;
      top: 0px;
      font-size: 30px;
      font-family: "MF_LangQian";
      line-height: 61px;
      text-align: center;
      color: #e5f0ff;
      letter-spacing: 6px;
      // background: yellow;
    }
    .left-top{
      width: 679px;
      height: 57px;
      position: absolute;
      left: 0px;
      top: 82px;
      font-size: 28px;
      font-family: "MF_LangQian";
      line-height: 57px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 6px;
    }
    .left-bottom{
      width: 679px;
      height: 57px;
      position: absolute;
      // background: yellow;
      left: 0px;
      top: 440px;
      font-size: 28px;
      font-family: "MF_LangQian";
      line-height: 57px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 6px;
    }
    .left-bottom1{
      width: 679px;
      height: 57px;
      position: absolute;
      // background: yellow;
      left: 0px;
      top: 720px;
      font-size: 28px;
      font-family: "MF_LangQian";
      line-height: 57px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 6px;
    }
    .left-tops{
      width: 679px;
      height: 270px;
      position: absolute;
      left: 0px;
      top: 141px;
      background: url(./img/tupian_14.png) no-repeat center;
      background-size: 100% 100%;
      .shuzi2{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 50px;
        top: 14px; 
      }
      .shuzi1{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 528px;
        top: 6px; 
      }
      .shuzi3{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 528px;
        top: 108px; 
      }
      .shuzi4{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 50px;
        top: 116px; 
      }
      .shuzi5{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 528px;
        top: 211px; 
      }
      .shuzi6{
        width: 112px;
        height: 43px;
        position: absolute;
        // background: yellow;
        right: 50px;
        top: 213px; 
      }
      .word1{
        width: 208px;
        height: 38px;
        position: absolute;
        left: 0px;
        top: 50px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      .word2{
        width: 208px;
        height: 38px;
        position: absolute;
        right: 0px;
        top: 61px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      .word3{
        width: 208px;
        height: 38px;
        position: absolute;
        left: 0px;
        top: 151px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      .word4{
        width: 208px;
        height: 38px;
        position: absolute;
        right: 0px;
        top: 160px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      .word5{
        width: 208px;
        height: 38px;
        position: absolute;
        left: 0px;
        top: 254px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      .word6{
        width: 208px;
        height: 38px;
        position: absolute;
        right: 0px;
        top: 258px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 38px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
    }
    .left-tops-center{
      width: 185px;
      height: 180px;
      position: absolute;
      left: 248px;
      top: 194px;
      background: url(./img/diquan.png) no-repeat center;
      background-size: 100% 100%;
      .zhuanquan{
        width: 130px;
        height: 130px;
        position: absolute;
        left: 34.5px;
        top: 14px;
        background: url(./img/quan2.png) no-repeat center;
        background-size: 100% 100%;
        transform: rotate(0deg);
        animation: action .1s linear infinite;
      }
      @keyframes action{
        form{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
      }
    }
    .left-bottoms{
      width: 679px;
      height: 194px;
      position: absolute;
      left: 0px;
      top: 510px;
      background: url(./img/bottom.png) no-repeat center;
      background-size: 100% 100%;
      :nth-child(1) {
        width: 104px;
        height: 71px;
        position: absolute;
        // background: yellow;
        left: 8px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      :nth-child(2) {
        width: 104px;
        height: 71px;
        // background: yellow;
        position: absolute;
        left: 112px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      :nth-child(3) {
        width: 104px;
        height: 71px;
        position: absolute;
        // background: yellow;
        left: 230px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      :nth-child(4) {
        width: 104px;
        height: 71px;
        // background: yellow;
        position: absolute;
        left: 330px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      :nth-child(5) {
        width: 104px;
        height: 71px;
        position: absolute;
        // background: yellow;
        left: 449px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      :nth-child(6) {
        width: 104px;
        height: 71px;
        // background: yellow;
        position: absolute;
        left: 549px;
        top: 10px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      :nth-child(7) {
        width: 104px;
        height: 71px;
        position: absolute;
        // background: yellow;
        left: 130px;
        top: 114px;
        font-size: 12px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      :nth-child(8) {
        width: 104px;
        height: 71px;
        // background: yellow;
        position: absolute;
        left: 234px;
        top: 114px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      :nth-child(9) {
        width: 104px;
        height: 71px;
        position: absolute;
        // background: yellow;
        left: 354px;
        top: 114px;
        font-size: 12px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 0px;
      }
      :nth-child(10) {
        width: 104px;
        height: 71px;
        // background: yellow;
        position: absolute;
        left: 452px;
        top: 114px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
    }
    .left-centers{
      width: 679px;
      height: 176px;
      position: absolute;
      left: 0px;
      top: 789px;
      // background: yellow;
      background: url(./img/yibiao.png) no-repeat center;
      background-size: 100% 100%;
      .left-centers1 {
        width: 136px;
        height: 136px;
        position: absolute;
        left: 35px;
        top: 22px;
        border-radius: 50%;
      }
      .left-centers2 {
        width: 102px;
        height: 102px;
        position: absolute;
        left: 218px;
        top: 33px;
        border-radius: 50%;
      }
      .left-centers3 {
        width: 107px;
        height: 107px;
        position: absolute;
        left: 376px;
        top: 33px;
        border-radius: 50%;
      }
      .left-centers4 {
        width: 83px;
        height: 83px;
        position: absolute;
        left: 547px;
        top: 48px;
        border-radius: 50%;
      }
      .shuzi11 {
        width: 70px;
        height: 24px;
        // background: yellow;
        position: absolute;
        left: 68px;
        top: 56px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      .shuzi21 {
        width: 70px;
        height: 24px;
        // background: yellow;
        position: absolute;
        left: 238px;
        top: 50px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      .shuzi31 {
        width: 70px;
        height: 24px;
        // background: yellow;
        position: absolute;
        left: 396px;
        top: 50px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
      .shuzi41 {
        width: 70px;
        height: 24px;
        // background: yellow;
        position: absolute;
        left: 556px;
        top: 56px;
        font-size: 14px;
        font-family: "MF_LangQian";
        line-height: 71px;
        text-align: center;
        color: yellow;
        letter-spacing: 0px;
      }
    }
    .wengzi1{
      width: 123px;
      height: 48px;
      position: absolute;
      // background: yellow;
      left: 39px;
      top: 937px;
      font-size: 14px;
      font-family: "MF_LangQian";
      line-height: 48px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 0px;
    }
    .wengzi2{
      width: 123px;
      height: 16px;
      position: absolute;
      // background: yellow;
      left: 206px;
      top: 946px;
      font-size: 14px;
      font-family: "MF_LangQian";
      line-height: 16px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 0px;
    }
    .wengzi3{
      width: 123px;
      height: 16px;
      position: absolute;
      // background: yellow;
      left: 366px;
      top: 946px;
      font-size: 14px;
      font-family: "MF_LangQian";
      line-height: 16px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 0px;
    }
    .wengzi4{
      width: 123px;
      height: 48px;
      position: absolute;
      // background: yellow;
      left: 524px;
      top: 937px;
      font-size: 14px;
      font-family: "MF_LangQian";
      line-height: 48px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 0px;
    }
    .huawuliang{
      width: 127px;
      height: 46px;
      position: absolute;
      left: 286px;
      top: 93px;
      font-size: 30px;
      font-family: "MF_LangQian";
      line-height: 46px;
      text-align: center;
      color: #e5f0ff;
      letter-spacing: 2px;
    }
    #echarts-8{
      width: 580px;
      height: 260px;
      // background: yellow;
      position: absolute;
      left: 46px;
      top: 146px;
    };
    .danwei{
      width: 130px;
      height: 30px;
      position: absolute;
      left: 480px;
      top: 120px;
      font-size: 16px;
      font-family: "MF_LangQian";
      line-height: 30px;
      text-align: center;
      color: #e5f0ff;
      letter-spacing: 2px;
    }
    .danwei1{
      width: 130px;
      height: 30px;
      position: absolute;
      left: 480px;
      top: 450px;
      font-size: 16px;
      font-family: "MF_LangQian";
      line-height: 30px;
      text-align: center;
      color: #e5f0ff;
      letter-spacing: 2px;
    }
    .liuliang{
      width: 127px;
      height: 46px;
      position: absolute;
      left: 286px;
      top: 410px;
      font-size: 30px;
      font-family: "MF_LangQian";
      line-height: 46px;
      text-align: center;
      color: #e5f0ff;
      letter-spacing: 2px;
    }
    #echarts-9{
      width: 570px;
      height: 242px;
      // background: yellow;
      position: absolute;
      left: 46px;
      top: 472px;
    };
    .huawuliangtop5 {
      width: 679px;
      height: 329px;
      // background: yellow;
      position: absolute;
      left: 0px;
      top: 703px;
      .wenzi{
        width: 218px;
        height: 70px;
        // background: yellow;
        position: absolute;
        left: 244px;
        top: 0px;
        font-size: 26px;
        font-family: "MF_LangQian";
        line-height: 70px;
        text-align: center;
        color: #e5f0ff;
        letter-spacing: 2px;
      }
      .yuanhuan{
        width: 209px;
        height: 196px;
        // background: yellow;
        // border-radius: 50%;
        position: absolute;
        left: 63px;
        top: 100px;
        #echarts-10 {
          width: 209px;
          height: 196px;
          // background: yellow;
          // border-radius: 50%;
          position: absolute;
          left: 0px;
          top: 0px;
        }
        #echarts-11 {
          width: 209px;
          height: 196px;
          // background: yellow;
          // border-radius: 50%;
          position: absolute;
          left: 0px;
          top: 0px;
        }
        .span1{
          width: 4px;
          height: 4px;
          position: absolute;
          left: 110px;
          top: 2px;
          font-size: 2px;
          font-family: "MF_LangQian";
          line-height: 4px;
          text-align: center;
          color: #00ffff;
        }
        .span2{
          width: 4px;
          height: 4px;
          position: absolute;
          left: 110px;
          top: 15px;
          font-size: 2px;
          font-family: "MF_LangQian";
          line-height: 4px;
          text-align: center;
          color: #00ff00;
        }
        .span3{
          width: 4px;
          height: 4px;
          position: absolute;
          left: 110px;
          top: 28px;
          font-size: 2px;
          font-family: "MF_LangQian";
          line-height: 4px;
          text-align: center;
          color: #df9f3b;
        }
        .span4{
          width: 4px;
          height: 4px;
          position: absolute;
          left: 110px;
          top: 41px;
          font-size: 2px;
          font-family: "MF_LangQian";
          line-height: 4px;
          text-align: center;
          color: #ffff00;
        }
        .span5{
          width: 4px;
          height: 4px;
          position: absolute;
          left: 110px;
          top: 54px;
          font-size: 2px;
          font-family: "MF_LangQian";
          line-height: 4px;
          text-align: center;
          color: #eb601b;
        }
      }
      .liebiaotop5s{
        width: 411px;
        height: 222px;
        // background: yellow;
        position: absolute;
        left: 268px;
        top: 82px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          width: 400px;
          height: 35px;
          // background: yellow;
          color: #00ffff;
          font-family: "MF_LangQian";
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .second {
            width: 76px;
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
            cursor: pointer;
          }
          .second:hover {
            white-space:normal;
            width: 110px;
            font-size: 6px;
          }
        }
      }
    }
    .a2-swiper-roam1 {
      position: absolute;
      width: 100px;
      height: 50px;
      // background: yellow;
      opacity: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 240px;
      right: 0;
      z-index: 2;
      .swiper-pagination-bullet {
        display: inline-block;
        width: 10px;
        height: 10px;
        opacity: 1;
        border-radius: 50%;
        background: yellow;
        margin-right: 20px;
      }
      .swiper-pagination-bullet-active {
        background: skyblue;
      }
    }
  };
  .a2-swiper-roam {
    position: absolute;
    width: 100px;
    height: 50px;
    // background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 50%;
    z-index: 2;
    .swiper-pagination-bullet {
      display: inline-block;
      width: 10px;
      height: 10px;
      opacity: 1;
      border-radius: 50%;
      background: yellow;
      margin-right: 20px;
    }
    .swiper-pagination-bullet-active {
      background: skyblue;
    }
  }
  .redian{
    width: 319px;
    height: 63px;
    position: absolute;
    left: 834px;
    top: 462px;
    font-size: 28px;
    font-family: "MF_LangQian";
    line-height: 63px;
    text-align: center;
    color: #cce6fe;
    letter-spacing: 4px;
  }
  .redianbox{
    width: 569px;
    height: 276px;
    // background: yellow;
    position: absolute;
    left: 800px;
    top: 531px;
    .boxhead{
      width: 500px;
      height: 40px;
      // background: yellow;
      position: absolute;
      left: 70px;
      top: 0px;
      :nth-child(1) {
        width: 113px;
        height: 40px;
        position: absolute;
        left: 0px;
        top: 0px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 40px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 2px;
      }
      :nth-child(2) {
        width: 180px;
        height: 40px;
        position: absolute;
        left: 160px;
        top: 0px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 40px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 2px;
      }
      :nth-child(3) {
        width: 160px;
        height: 40px;
        position: absolute;
        left: 339px;
        top: 0px;
        font-size: 16px;
        font-family: "MF_LangQian";
        line-height: 40px;
        text-align: center;
        color: #cce6fe;
        letter-spacing: 2px;
      }
    }
    .boxbody{
      width: 569px;
      height: 236px;
      // background: yellow;
      position: absolute;
      left: 0px;
      top: 28px;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:space-around;
      li{
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;
        height: 40px;
        background: url(./img/juxing.png) no-repeat center;
        background-size: 100% 100%;
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
        justify-content: space-around;
        :nth-child(1) {
          width: 52px;
          height: 46px;
          // background: yellow;
          :nth-child(1) {
            width: 32px;
            height: 8px;
            // background: yellow;
            margin-left:16px;
            margin-top: 20px;
          }
        }
        :nth-child(2) {
          width: 157px;
          height: 46px;
          font-size: 14px;
          font-family: "MF_LangQian";
          line-height: 46px;
          text-align: center;
          color: #cce6fe;
          letter-spacing: 2px;
        }
        :nth-child(3) {
          width: 188px;
          height: 36px;
          font-size: 14px;
          background: #042045;
          font-family: "MF_LangQian";
          line-height: 46px;
          text-align: center;
          color: yellow;
          letter-spacing: 0px;
        }
        :nth-child(4) {
          width: 160px;
          height: 46px;
          font-size: 14px;
          font-family: "MF_LangQian";
          line-height: 46px;
          text-align: center;
          color: #cce6fe;
          letter-spacing: 2px;
        }
      }
    }
  }
  .rongliang{
    width: 319px;
    height: 63px;
    position: absolute;
    left: 834px;
    top: 117px;
    font-size: 28px;
    font-family: "MF_LangQian";
    line-height: 63px;
    text-align: center;
    color: #cce6fe;
    letter-spacing: 4px;
  };
  #echarts-5{
    width: 601px;
    height: 240px;
    // background: yellow;
    position: absolute;
    left: 777px;
    top: 191px;
  }
  .zuichaxiaoqu{
    width: 601px;
    height: 328px;
    position: absolute;
    left: 777px;
    top: 822px;
    .xiaoqu{
      width: 319px;
      height: 63px;
      position: absolute;
      left: 57px;
      top: 0px;
      font-size: 28px;
      font-family: "MF_LangQian";
      line-height: 63px;
      text-align: center;
      color: #cce6fe;
      letter-spacing: 4px;
    }
    .zongshu{
      width: 67px;
      height: 27px;
      position: absolute;
      left: 417px;
      top: 40px;
      font-size: 16px;
      font-family: "MF_LangQian";
      line-height: 63px;
      text-align: center;
      color: yellow;
      letter-spacing: 4px;
    }
    .zongshunum{
      width: 120px;
      height: 27px;
      position: absolute;
      left: 480px;
      top: 55px;
    }
    #echarts-6{
      width: 602px;
      height: 230px;
      // background: yellow;
      position: absolute;
      left: 0px;
      top: 92px;
    }
    #echarts-7{
      width: 602px;
      height: 230px;
      // background: yellow;
      position: absolute;
      left: 0px;
      top: 92px;
    }
  }
}
