.heatmap_container{
    width: 1990px;
    height: 810px;
    position: relative;
    left: 4px;
    top: 2px;
    font-size: 16px;
    .map_layer{
        width: 100%;
        height: 100%;
    }
    .data_count{
        position: absolute;
        width: 300px;
        height: 500px;
        top: 20px;
        right: 20px;
        background: rgba(14, 40, 67, 0.8);
        border: 2px solid rgb(20, 116, 206);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .item{
            width: 85%;
            height: 28%;
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: normal;
            text-align: center;
            padding-top: 20px;
            table{
                border-collapse: collapse;//separate
                border-radius:10px;
                tr{
                    height: 38px;
                    border: 1px solid rgb(20, 116, 206);
                    background: rgb(10, 52, 90);
                    th{
                        color: rgb(189, 175, 16);
                    }
                    .number{
                        font-family: 'PixelLCD';
                    }
                    span{
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                }
                tr:first-child{
                    background: transparent;
                    border: 0;
                }
            }
        }
    }
    .heatmap_control{
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 350px;
        left: 80px;
        border-radius: 50%;
        background: rgb(2, 40, 89);
        cursor: pointer;
        font-size: 24px;
        text-align: center;
        line-height: 100px;
        box-sizing: border-box;
        transition: border 0.2s;
    }
    .heatmap_control:hover{
        animation: animationSphere 1s;
    }
    .heatmap_control_active{
        background: url(./img/circle.png) 100%;
        transition: all 0.2s;
        color: rgb(255, 222, 8);
    }
    .heatmap_legend{
        height: 70px;
        width: 250px;
        position: absolute;
        background: rgba(12, 36, 64, 0.85);
        bottom: 80px;
        left: 80px;
        border: 1.5px solid rgb(0, 121, 255);
        .progress{
            width: 86%;
            height: 14px;
            border-radius:20px; 
            background: linear-gradient(to right ,rgb(34,239,0) ,rgb(251,245,0) 40%,rgb(255,3,2));
            position: relative;
            left: 7%;
            top: 20px;
            animation: extend 1.5s;
        }
        .scale{
            width: 86%;
            height: 20px;
            display: flex;
            font-size: 14px;
            position: relative;
            left: 7%;
            top: 22px;
            justify-content: space-between;
        }
    }
    .gis_legend{
        position: absolute;
        width: 308px;
        height: 213px;
        bottom: 20px;
        right: 20px;
        background: url(./img/bg.png);
        background-size: 100% 100%;
        .gis_title{
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-weight: 100;
            font-size: 26px;
            letter-spacing: 5px;
        }
        .gis_type{
            height: 70px;
            font-size: 22px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            img{
                position: relative;
                left: 10px;
            }
            >div:nth-child(2){
                // height: 31px;
                // line-height: 31px;
            }
            >div:last-child{
                height: 25px;
                width: 25px;
                border: 1px solid rgb(86, 117, 148);
                background: rgb(36, 54, 94);
                position: relative;
                left: -10px;
                transition: all 0.2s;
            }
        }
        .gis_type:hover div:first-of-type{
            text-shadow: 0 0 5px rgb(157, 183, 209);
        }
        .gis_type:hover div:last-child{
            box-shadow: 0 0 5px rgb(157, 183, 209);
        }
        .gis_type:hover >img{
            animation: animationbounce 1000ms linear 1 both;
        }
    }
    .gis_menu{
        height: 688px;
        position: absolute;
        left: 0px;
        top: 7%;
        border: 2px solid rgb(69, 171, 94);
        border-left: 0px;
        border-radius: 10px;
        background: rgba(9, 35, 76, 0.9);
        display: flex;
        align-items: center;
        .tip{
            width: 21px;
            height: 253px;
            background: url(./img/tip.png);
            position: absolute;
            top: 50%;
            right: -21px;
            margin-top: -126px;
            cursor: pointer;
        }
        .trans-enter-active, .trans-leave-active {
            transition: opacity .1s;
        }
          .trans-enter, .trans-leave-to {
            opacity: 0;
          }
        .level_one_menu{
            width: 253px;
            height: 600px;
            margin-top: 44px;
            color: #FFFFFF;
            font-size: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .item1{
                width: 169px;
                height: 80px;
                line-height: 80px;
                cursor: pointer;
                border-radius: 12px;
            }
            .item1_active{
                background: linear-gradient(to bottom ,rgb(69,171,94) 50%,rgb(23,115,94));
            }
        }
        .level_two_menu{
            width: 220px;
            height: 550px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            border-left:1px solid #45ab5e;
            .item2{
                width: 170px;
                min-height: 55px;
                padding: 10px 0;
                cursor: pointer;
                border-radius: 5px;
                color: #FFFFFF;
                font-size: 20px;
                text-align: center;
                box-sizing: border-box;
            }
            .item2_active{
                background: linear-gradient(to bottom ,rgb(69,171,94) 50%,rgb(23,115,94));
            }
        }
    }
    @keyframes extend {
        from{
            width: 0;
        }
        to{
            width: 86%;
        }
    }
    //打点动画
  @keyframes animationbounce { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.2% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.9, 0, 1); }
    3.6% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.391, 0, 1); }
    6.31% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.895, 0, 1); }
    7.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 26.177, 0, 1); }
    8.91% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 25.033, 0, 1); }
    9.61% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 24.042, 0, 1); }
    11.51% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20.261, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 18.83, 0, 1); }
    16.72% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 6.922, 0, 1); }
    17.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 5.957, 0, 1); }
    19.92% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.138, 0, 1); }
    22.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.045, 0, 1); }
    23.02% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.974, 0, 1); }
    27.13% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.725, 0, 1); }
    28.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.626, 0, 1); }
    33.33% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -3.438, 0, 1); }
    37.14% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.292, 0, 1); }
    39.64% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.139, 0, 1); }
    47.15% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.252, 0, 1); }
    50.05% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1.114, 0, 1); }
    56.36% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.374, 0, 1); }
    66.77% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.273, 0, 1); }
    67.17% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.274, 0, 1); }
    73.07% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.172, 0, 1); }
    83.38% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.045, 0, 1); }
    87.19% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.06, 0, 1); }
    89.69% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.055, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
    //  小球动画
  @keyframes animationSphere { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    2.1% { transform: matrix3d(1.111, 0, 0, 0, 0, 1.164, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.2% { transform: matrix3d(1.154, 0, 0, 0, 0, 1.223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.1% { transform: matrix3d(1.181, 0, 0, 0, 0, 1.256, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.31% { transform: matrix3d(1.22, 0, 0, 0, 0, 1.287, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.21% { transform: matrix3d(1.23, 0, 0, 0, 0, 1.268, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.51% { transform: matrix3d(1.218, 0, 0, 0, 0, 1.206, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.41% { transform: matrix3d(1.208, 0, 0, 0, 0, 1.176, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.51% { transform: matrix3d(1.161, 0, 0, 0, 0, 1.065, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.71% { transform: matrix3d(1.157, 0, 0, 0, 0, 1.059, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.92% { transform: matrix3d(1.082, 0, 0, 0, 0, 0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.72% { transform: matrix3d(1.053, 0, 0, 0, 0, 0.928, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.02% { transform: matrix3d(1.021, 0, 0, 0, 0, 0.919, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.03% { transform: matrix3d(0.984, 0, 0, 0, 0, 0.941, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    27.23% { transform: matrix3d(0.983, 0, 0, 0, 0, 0.942, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.33% { transform: matrix3d(0.967, 0, 0, 0, 0, 0.983, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.23% { transform: matrix3d(0.966, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(0.967, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.64% { transform: matrix3d(0.976, 0, 0, 0, 0, 1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    45.75% { transform: matrix3d(0.992, 0, 0, 0, 0, 1.011, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.36% { transform: matrix3d(1.005, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.26% { transform: matrix3d(1.005, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.07% { transform: matrix3d(1, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.28% { transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    89.69% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
}